.today-link a { text-decoration: none; color: #fff} /*a태그 스타일*/
.today-link a:hover, a:active {background-color: #ed4785;}

div#today-dropdown > .dropdown {
	position: absolute;
	right: 30px;
	top: 30%;
	transform: translateY(50%);
}
div#today-dropdown > .dropdown > ul { /* 드롭다운 메뉴 배경 */
	display: block;
	margin: 0; padding: 0;
	list-style: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #8f9297;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
div#today-dropdown > .dropdown > ul > li a { /* 폰트 크기 및 간격 */
	display: block;
	padding: 10px 30px;
	font-size: 13px;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
div#today-dropdown > .dropdown > ul > li a:hover {
	background: #f16297;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
div#today-dropdown > .dropdown > ul > li:last-child a {
	border-bottom: none;
}
#todayicon:hover { /* 더보기 버튼 */
	color: #5446c1;
}
.today-input-en {
	width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
	background: rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.today-input-en:focus {
	border: #9361d1 solid 3px;
	background-color: #fff;
} 
.today-input-ko {
	width: 100%;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
	background: rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.today-input-ko:focus {
    border: #9361d1 solid 3px;
    background-color: #fff;
}
.today-input-en::placeholder {
	color: #d0cfcf;
	padding-left: 20px;
	font-weight: bold;
}
.today-input-ko::placeholder {
	color: #d0cfcf;
	padding-left: 20px;
	font-weight: bold;
}
*:focus { outline:none; } /*기본 선 없애기*/
.today-btn-wrap {
	width: 182px;
	margin: 0 auto;
	margin-top: 10px;
}
.enroll-btn {
	background-color: #f16297;
	border: none;
	color: white;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none; /*기본 선 없애기*/
	display: inline-block;
	font-size: 13px;
	border-radius: 5px;
	font-size: 14px;
}
.enroll-btn:hover {
	background-color: #ed4785;
}
.cancel-btn {
	color: #fff;
	background-color: #8f9297;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none; /*기본 선 없애기*/
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 14px;
}
.cancel-btn:hover {
	background-color: #303c4c;
}

/*목록보기*/
.panel {
	width: 100%;
}
.today-list-number {
	width: 50px;
	height: 50px;
	background-color: red;
	color: white;
}
.today-list-table{
	color: #303c4c;
}
.Update {
	background-color: #f16297;
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none; /*기본 선 없애기*/
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
}
.delete-btn {
	background-color: #8f9297;
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none; /*기본 선 없애기*/
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	font-weight: lighter;
}
.page-link next {
	background-color: red;
}
.today-paging {
	margin-top: 15px;
	text-align: center;
}
button:active{
	background-color: red;
}