@charset "UTF-8";
 @import
 url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

a{
  text-decoration: none;
}

body{

  text-align:center;
   font-family: 'Noto Sans KR', sans-serif;
}

.container{
  display:inline-block;
  width: auto;
  text-align:center;
  margin: 10px;
}

.word_board{
  display:inline-block;
  width: 800px;
  text-align:center;
}

.word_board ul{
  display: block;
  float: left;
  position: abolute;
  width: 75px;
  height: 75px;
  border: 1px solid #eaeaea;
  border-radius:10px;
  background-color: #eaeaea;
  margin: 15px;
  text-align: center;
  z-index: -1;
}

.word_board ul.over{
  border: 1px solid rgba(200,200,200,0.5);
  box-shadow: inset 0px 0px 20px rgba(160,160,160,0.2);
  transition: 0.1s ease;
}
.result{
	font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top:0px;
  margin-bottom:0px;
}
.h3{
	 margin-top:0px;
  margin-bottom:0px;
}
#main li{
  display:inline-block;
  float: center;
  width: 75px;
  height: 75px;
  top: -1px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  
  margin-left: -40px;
  
  color: #808080;
  font-family: 'Noto sans KR';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  line-height: 90px;

  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  transform: scale(1, 1);
  z-index: 1;

}

li:active{
  transform: scale(1.2, 1.2);
  box-shadow: 0px 0px 10px rgba(0,0,10,0.2);
  transition: 0.1s ease;
}

.word_board{
  display:inline-block;
  float: center;
  width: auto;;
}

#answer {
  display: inline-block;
  width: auto;
  height: 180px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  margin-top: 40px;
  line-height: 180px;
  text-align: center;
}

#answer_inner{
  display: inline-block;
  vertical-align: middle;
}

#answer.over {
  background: #808080;
  background-color: rgba(64,210,234,0.2);
}

#answer li {
  display:block;
  float: left;
  color: #808080;
  border: 1px solid rgba(64,210,234,0.5);
  z-index: 1;
}

#answer ul {
  display:block;
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 1px solid #eaeaea;
  margin: 15px;
  text-align: center;
  background-color: #eaeaea;
  z-index: -1;
}

#answer ul.over {
  background: rgba(255,46,43,.9);
  border: 1px solid rgba(64,210,234,0.5);
  box-shadow: inset 0px 0px 20px rgba(64,210,234,0.2);
  transition: 0.1s ease;
}
