
* {
	box-sizing: border-box;
}

body {
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
}

/*상위바*/
.top-menu {
	display: flex;
	flex-direction: row;
	background: linear-gradient(45deg, #ed4785, #9161d2);
	color: var(--main-color);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 101;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
}
.navbar-nav {list-style: none; display: flex; flex-direction: row; padding-left: 0; margin-bottom: 0; margin-top: 0;}
.navbar-nav i {font-size: 1.4rem;}
.logo {height: 60px; padding: 10px;}

.nav-right {margin-left: auto;}
.avt {padding: 11px;}
.avt img {width: 39px; height: 39px; border-radius: 50%;}
.avt img:hover {width: 39px; height: 39px; border-radius: 50%; content: url('../img/user_hover.png');}

.dropdown-menu-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--main-color);
}
.dropdown-menu-link:hover {
	cursor: pointer;
	background: var(--second-bg-color);
}
.dropdown-menu-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}
.dropdown-menu-link i {
	font-size: 1.25rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.dropdown-menu-link span {
	font-size: 15px;
	width: 298px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropdown-menu-link span > span {
	font-size: 10px;
}
/*//상위바*/

/*사이드 메뉴*/
.nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: #fff;
	position: relative;
}
.nav-link:hover {cursor: pointer;}
.dropdown {position: relative;}
.dropdown:hover {cursor: pointer;}
.dropdown-menu {
	list-style: none;
	display: none;
	flex-direction: column;
	position: absolute;
	right: 20%;
	top: 90%;
	background: var(--main-bg-color);
	max-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: unset;
	border-radius: 10px;
	border: 0.125px solid var(--second-bg-color);
}
.dropdown-expand {display: flex;}
.dropdown-menu-item {width: 100%; background-color: #fff; border-radius: 10px;}

.sidebar {
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background: #fff;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}

.sidebar:hover {
	width: 250px;
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.sidebar-nav-item {width: 100%;}

.sidebar-nav-link {
	display: flex;
	align-items: center;
	color: #8f9297;
	text-decoration: none;
}

.sidebar-nav-link i {
	font-size: 1.5rem;
	color: #8f9297;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sidebar-nav-link i {color: #8f9297;}
.sidebar-nav-link i:hover {color: #5446c1;}
.sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.sidebar-nav-link:hover {
	border-left: 5px solid #5446c1;
	color: #5446c1;
}

.sidebar-nav-link.active {
	background: #fff;
	color: #ed4785;
}

.sidebar-nav-link.active div {
	border-left: 5px solid #ed4785;
}

.sidebar-nav-link.active i {
	color: #ed4785;
	margin-left: -5px;
}

/*메뉴바 고정*/
.sidebar-expand .sidebar {
	width: 250px;
}
/*메뉴바 고정 시 컨텐츠 250px 이동*/
.sidebar-expand .wrapper {
	margin-left: 250px;
}
/*//사이드 메뉴*/

/*컨텐츠*/
.wrapper {
	padding: 10px;
	margin-left: 82px;
	padding-top: 75px;
	background: #f1f1f1;
	transition: margin-left .5s;
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}

/*컨텐츠 간격*/
[class*="col-"] {
	padding: 10px;
}

/*오늘의 회화*/
.todayenglishko {
	color: #8f9297;
}

/* 카테고리 바로가기*/
.diary {background: linear-gradient(to right, #8961c1, #5446c1);}
.certification {background: linear-gradient(to right, #4bc4f3, #6793da);}
.qna {background: linear-gradient(to right, #f3be4c, #f2825a);}
.diary:hover {box-shadow: 0px 5px 20px 0px #e5bfff;}
.certification:hover {box-shadow: 0px 5px 20px 0px #e5bfff;}
.qna:hover {box-shadow: 0px 5px 20px 0px #e5bfff;}

/*통계*/
.reading {background: linear-gradient(to right, #ff8db8, #ed4785);}
.grammar {background: linear-gradient(to right, #8961c1, #5446c1);}
.conversation {background: linear-gradient(to right, #4bc4f3, #6793da);}
.word {background: linear-gradient(to right, #f3be4c, #f2825a);}
/*//컨텐츠*/

/* 최대 600px까지 적용 */
@media only screen and (max-width: 600px) {
	.sidebar {width: 0;}
	.wrapper {margin-left: 0;}
	.sidebar-expand .wrapper {margin-left: 0;}
	.nav-right .hamburger-button {display: none;}
	.nav-right .mode, .nav-right .avt-wrapper {display: list-item;;}
	.navbar-search {display: none;}
	.dropdown-menu {max-width: 300px;}
	[class*="col-"] {width: 100%}
}

/* 최소 너비 지정 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 66.66%;}
	.col-13 {width: 100%;}
}

/* 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 66.66%;}
	.col-xl-13 {width: 100%;}
}

/*오늘의 회화*/
.todayenglish {
	box-sizing: unset;
}

/*카테고리 바로가기*/
.counter {
	padding: 16px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.couner i {
	font-size: 50px;
}
/*//카테고리 바로가기*/

/*전체 게시판*/
.card {
	background: #fff;
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.card:hover {
	box-shadow: 0 5px 20px 0 #e5bfff;
}
.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
}
.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.card-header i:hover {
	cursor: pointer;
}
.card-header h3 {
	margin: 0;
}
.card-content {
	padding: 20px;
	overflow-x: auto;
}
table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 2px;
    border-color: grey;
}
table td {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	padding: 15px;
	text-align: center;
}
table th {
	color: #fff;
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: center;
	background-color: #303c4c;
}
/*//전체 게시판*/

/*통계*/
.progress-wrapper {
	margin-bottom: 15px;
}
.float-right {
	float: right;
}
.progress {
	height: 10px;
	overflow: hidden;
	display: flex;
	font-size: .75rem;
	background: rgba(0,0,0,0.05);
	border-radius: .25rem;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
/*//통계*/

/*footer*/
.footer {
	width: 100%;
	height: 150px;
	text-align: center;
	border-top: 1px solid #dcdcdc;
	background-color: #f1f1f1;
}
.footer .wrapper {
	padding-top: 30px;
}

.footer .wrapper span {
	color: #8f9297;
}
.footer .wrapper .bar {
	color: #dcdcdc;
}
.footer .wrapper .footer-span {
	color: #515459;
}
.footer .wrapper .footer-bold {
	font-weight: bold;
	color: #2f2f2f;
}
/*//footer*/




/* --------------------게시물 댓글 css(백희승)-------------------- */
span.comment-id{
	font-weight:none; 
	font-size:1.2em;
}

span.comment-date{
	font-style:italic;
	float:right;
}
.commentarea {
    width: 100%;
    min-height: 30px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.comment-mb {
	margin-bottom: 24px;
}

/* --------------------댓글 페이징 (백희승 : 부트에서 가져왔음!)-------------------- */
.page-container {
	display: -ms-flexbox;
	-ms-flex-pack: justify;
	display: flex;
	justify-content: space-between;
	margin-top: 0;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #000;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
